mqtt/light.node-red
[{"id":"beecf35.baf291","type":"inject","z":"45b691e2.6938d8","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":144.5,"y":163,"wires":[["c361486a.5da2e8"]]},{"id":"6ac7a2d9.9bf5c4","type":"mqtt in","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/cabinet/table_lswitch","qos":"0","broker":"216d9698.3062e2","x":840.5,"y":252,"wires":[["1cf94ec7.941311"]]},{"id":"fd1feb25.648608","type":"inject","z":"45b691e2.6938d8","name":"","topic":"","payload":"Off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":145.5,"y":226,"wires":[["c361486a.5da2e8"]]},{"id":"1cf94ec7.941311","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/cabinet/shelf_lswitch","qos":"","retain":"","broker":"216d9698.3062e2","x":841.5,"y":169,"wires":[]},{"id":"c361486a.5da2e8","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/cabinet/table_lswitch","qos":"","retain":"","broker":"216d9698.3062e2","x":487.5,"y":163,"wires":[]},{"id":"cdd7ceca.e036a","type":"mqtt in","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/cabinet/light","qos":"2","broker":"216d9698.3062e2","x":132.5,"y":301,"wires":[["f5970c5c.7f54a"]]},{"id":"eef7cb5a.571d38","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/cabinet/table_lswitch","qos":"","retain":"","broker":"216d9698.3062e2","x":845.5,"y":335,"wires":[]},{"id":"f5970c5c.7f54a","type":"switch","z":"45b691e2.6938d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"не освещать","vt":"str"},{"t":"eq","v":"отдых","vt":"str"},{"t":"eq","v":"работа","vt":"str"},{"t":"eq","v":"ярко","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":165.5,"y":381,"wires":[["69696e82.f0d118"],["9a1fdf6d.06c5a8","c0eda0ac.a36928"],["b25fa814.b0df88","228093d1.568724"],["c1ddb05f.f8af08"]]},{"id":"55b918f7.844a6","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/cabinet/celing_lswitch","qos":"","retain":"","broker":"216d9698.3062e2","x":863,"y":387,"wires":[]},{"id":"b25cc7e4.66359","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/cabinet/bed_lswitch","qos":"","retain":"","broker":"216d9698.3062e2","x":862,"y":458,"wires":[]},{"id":"c1ddb05f.f8af08","type":"change","z":"45b691e2.6938d8","name":"ярко","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390.5,"y":476,"wires":[["b25cc7e4.66359","55b918f7.844a6","eef7cb5a.571d38"]]},{"id":"228093d1.568724","type":"change","z":"45b691e2.6938d8","name":"работа off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":398,"y":429,"wires":[["55b918f7.844a6","b25cc7e4.66359"]]},{"id":"b25fa814.b0df88","type":"change","z":"45b691e2.6938d8","name":"работа on","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":398,"y":395,"wires":[["eef7cb5a.571d38"]]},{"id":"69696e82.f0d118","type":"change","z":"45b691e2.6938d8","name":"не освещать","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":418,"y":266,"wires":[["eef7cb5a.571d38","55b918f7.844a6","b25cc7e4.66359"]]},{"id":"c0eda0ac.a36928","type":"change","z":"45b691e2.6938d8","name":"отдых on","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":396,"y":316,"wires":[["b25cc7e4.66359"]]},{"id":"9a1fdf6d.06c5a8","type":"change","z":"45b691e2.6938d8","name":"отдых off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":392,"y":351,"wires":[["55b918f7.844a6","eef7cb5a.571d38"]]},{"id":"371609aa.ba8fb6","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/cabinet/light","qos":"","retain":"","broker":"216d9698.3062e2","x":692.5,"y":594,"wires":[]},{"id":"60904a26.7c4fac","type":"inject","z":"45b691e2.6938d8","name":"","topic":"","payload":"не освещать","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":411,"y":558,"wires":[["371609aa.ba8fb6"]]},{"id":"98618b35.461a88","type":"inject","z":"45b691e2.6938d8","name":"","topic":"","payload":"отдых","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":388,"y":609,"wires":[["371609aa.ba8fb6"]]},{"id":"14266374.fabf85","type":"inject","z":"45b691e2.6938d8","name":"","topic":"","payload":"работа","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":384,"y":649,"wires":[["371609aa.ba8fb6"]]},{"id":"d5fcc23b.607928","type":"inject","z":"45b691e2.6938d8","name":"","topic":"","payload":"ярко","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":394,"y":693,"wires":[["371609aa.ba8fb6"]]},{"id":"565f4b6.7a0f934","type":"mqtt in","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/hall/light","qos":"2","broker":"216d9698.3062e2","x":127,"y":750,"wires":[["33262cb1.29f594"]]},{"id":"4cbd7353.25d064","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/hall/table_lswitch","qos":"","retain":"","broker":"216d9698.3062e2","x":914,"y":729,"wires":[]},{"id":"88b12a18.9e31d8","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/hall/oven_lswitch","qos":"","retain":"","broker":"216d9698.3062e2","x":905,"y":784,"wires":[]},{"id":"d236f6f4.0ff32","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/hall/sink_lswitch","qos":"","retain":"","broker":"216d9698.3062e2","x":900,"y":838,"wires":[]},{"id":"33262cb1.29f594","type":"switch","z":"45b691e2.6938d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"не освещать","vt":"str"},{"t":"eq","v":"отдых","vt":"str"},{"t":"eq","v":"работа","vt":"str"},{"t":"eq","v":"ярко","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":276,"y":807,"wires":[["a0cb1072.c60f28"],["1860bc16.b91ddc","3afae2f6.462ede"],["130b0aeb.14f1fd","11965abd.4b54ad"],["dbe4d83f.f9832"]]},{"id":"dbe4d83f.f9832","type":"change","z":"45b691e2.6938d8","name":"ярко","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":939,"wires":[["d236f6f4.0ff32","88b12a18.9e31d8","4cbd7353.25d064","dbfcb467.a72ea8"]]},{"id":"11965abd.4b54ad","type":"change","z":"45b691e2.6938d8","name":"работа off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":581.5,"y":888,"wires":[["4cbd7353.25d064"]]},{"id":"130b0aeb.14f1fd","type":"change","z":"45b691e2.6938d8","name":"работа on","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":582.5,"y":856,"wires":[["88b12a18.9e31d8","d236f6f4.0ff32","dbfcb467.a72ea8"]]},{"id":"a0cb1072.c60f28","type":"change","z":"45b691e2.6938d8","name":"не освещать","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":597.5,"y":729,"wires":[["4cbd7353.25d064","88b12a18.9e31d8","d236f6f4.0ff32"]]},{"id":"1860bc16.b91ddc","type":"change","z":"45b691e2.6938d8","name":"отдых on","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":574.5,"y":773,"wires":[["d236f6f4.0ff32"]]},{"id":"3afae2f6.462ede","type":"change","z":"45b691e2.6938d8","name":"отдых off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":571.5,"y":805,"wires":[["88b12a18.9e31d8","4cbd7353.25d064"]]},{"id":"1555008f.98f65f","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/hall/light","qos":"","retain":"","broker":"216d9698.3062e2","x":353.5,"y":984,"wires":[]},{"id":"56bcef31.549508","type":"inject","z":"45b691e2.6938d8","name":"","topic":"","payload":"не освещать","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":939,"wires":[["1555008f.98f65f"]]},{"id":"89a8287d.f17058","type":"inject","z":"45b691e2.6938d8","name":"","topic":"","payload":"отдых","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":96,"y":984,"wires":[["1555008f.98f65f"]]},{"id":"dbf2d203.f44cc8","type":"inject","z":"45b691e2.6938d8","name":"","topic":"","payload":"работа","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88,"y":1024,"wires":[["1555008f.98f65f"]]},{"id":"fb5f94c.a84da68","type":"inject","z":"45b691e2.6938d8","name":"","topic":"","payload":"ярко","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":92,"y":1068,"wires":[["1555008f.98f65f"]]},{"id":"2f4c4937.2e1f2e","type":"mqtt in","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/bedroom/light","qos":"2","broker":"216d9698.3062e2","x":157,"y":1151,"wires":[["6177dc12.c4d18c"]]},{"id":"57811074.9ec018","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/bedroom/entrance_lswitch","qos":"","retain":"","broker":"216d9698.3062e2","x":964,"y":1130,"wires":[]},{"id":"a419646.7494518","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/bedroom/wall_lswitch","qos":"","retain":"","broker":"216d9698.3062e2","x":935,"y":1185,"wires":[]},{"id":"8c408ed1.2451c8","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/bedroom/sink_lswitch","qos":"","retain":"","broker":"216d9698.3062e2","x":940,"y":1239,"wires":[]},{"id":"6177dc12.c4d18c","type":"switch","z":"45b691e2.6938d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"не освещать","vt":"str"},{"t":"eq","v":"отдых","vt":"str"},{"t":"eq","v":"работа","vt":"str"},{"t":"eq","v":"ярко","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":296,"y":1208,"wires":[["426bfbe0.3e81c4"],["d1d8a4e2.5b0cb","81b61398.d8ee3"],["3f7b2d63.597a32","63fad02b.62736"],["aace5b49.5149f8"]]},{"id":"aace5b49.5149f8","type":"change","z":"45b691e2.6938d8","name":"ярко","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1340,"wires":[["8c408ed1.2451c8","a419646.7494518","57811074.9ec018"]]},{"id":"63fad02b.62736","type":"change","z":"45b691e2.6938d8","name":"работа off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":601.5,"y":1289,"wires":[["57811074.9ec018"]]},{"id":"3f7b2d63.597a32","type":"change","z":"45b691e2.6938d8","name":"работа on","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":602.5,"y":1257,"wires":[["a419646.7494518","8c408ed1.2451c8"]]},{"id":"426bfbe0.3e81c4","type":"change","z":"45b691e2.6938d8","name":"не освещать","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":617.5,"y":1130,"wires":[["57811074.9ec018","a419646.7494518","8c408ed1.2451c8"]]},{"id":"d1d8a4e2.5b0cb","type":"change","z":"45b691e2.6938d8","name":"отдых on","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":594.5,"y":1174,"wires":[["8c408ed1.2451c8"]]},{"id":"81b61398.d8ee3","type":"change","z":"45b691e2.6938d8","name":"отдых off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":591.5,"y":1206,"wires":[["a419646.7494518","57811074.9ec018"]]},{"id":"427d4bb2.f2abd4","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/bedroom/light","qos":"","retain":"","broker":"216d9698.3062e2","x":370,"y":1361,"wires":[]},{"id":"746a3f37.d7d1f8","type":"inject","z":"45b691e2.6938d8","name":"","topic":"","payload":"не освещать","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":106.5,"y":1316,"wires":[["427d4bb2.f2abd4"]]},{"id":"6be38e39.32e3","type":"inject","z":"45b691e2.6938d8","name":"","topic":"","payload":"отдых","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":92.5,"y":1361,"wires":[["427d4bb2.f2abd4"]]},{"id":"5391c7a3.35e6c","type":"inject","z":"45b691e2.6938d8","name":"","topic":"","payload":"работа","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":84.5,"y":1401,"wires":[["427d4bb2.f2abd4"]]},{"id":"22070bb.98187f4","type":"inject","z":"45b691e2.6938d8","name":"","topic":"","payload":"ярко","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88.5,"y":1445,"wires":[["427d4bb2.f2abd4"]]},{"id":"df12e19a.63145","type":"mqtt in","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/light","qos":"2","broker":"216d9698.3062e2","x":97.5,"y":1545,"wires":[["5da2671f.7f949","3dfea3b9.535c24","937244fe.574648","7198b1de.f18488"]]},{"id":"3dfea3b9.535c24","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/bedroom/light","qos":"","retain":"","broker":"216d9698.3062e2","x":883.5,"y":1537,"wires":[]},{"id":"937244fe.574648","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/hall/light","qos":"","retain":"","broker":"216d9698.3062e2","x":865.5,"y":1579,"wires":[]},{"id":"7198b1de.f18488","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/cabinet/light","qos":"","retain":"","broker":"216d9698.3062e2","x":880.5,"y":1633,"wires":[]},{"id":"5da2671f.7f949","type":"switch","z":"45b691e2.6938d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"темно","vt":"str"},{"t":"eq","v":"ярко","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390.5,"y":1672,"wires":[["11b54004.6c5bd8"],["fe8bb8b0.299b1"]]},{"id":"fe8bb8b0.299b1","type":"change","z":"45b691e2.6938d8","name":"ярко","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":559.5,"y":1714,"wires":[["4adee791.acddb8"]]},{"id":"11b54004.6c5bd8","type":"change","z":"45b691e2.6938d8","name":"не освещать","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":574,"y":1664,"wires":[["4adee791.acddb8"]]},{"id":"9aac6f8b.e4f388","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/light","qos":"","retain":"","broker":"216d9698.3062e2","x":310.5,"y":1755,"wires":[]},{"id":"8cd3c389.a4e0c8","type":"inject","z":"45b691e2.6938d8","name":"","topic":"","payload":"не освещать","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1708,"wires":[["9aac6f8b.e4f388"]]},{"id":"462be8f5.e73df","type":"inject","z":"45b691e2.6938d8","name":"","topic":"","payload":"отдых","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":94,"y":1751,"wires":[["9aac6f8b.e4f388"]]},{"id":"5bd595e4.a0b724","type":"inject","z":"45b691e2.6938d8","name":"","topic":"","payload":"работа","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88,"y":1792,"wires":[["9aac6f8b.e4f388"]]},{"id":"927a9e62.ac40f","type":"inject","z":"45b691e2.6938d8","name":"","topic":"","payload":"ярко","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":84,"y":1840,"wires":[["9aac6f8b.e4f388"]]},{"id":"4adee791.acddb8","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/toiet/socket","qos":"","retain":"","broker":"216d9698.3062e2","x":882,"y":1695,"wires":[]},{"id":"dbfcb467.a72ea8","type":"mqtt out","z":"45b691e2.6938d8","name":"","topic":"cmnd/house/hall/door_lswitch","qos":"","retain":"","broker":"216d9698.3062e2","x":904,"y":902,"wires":[]},{"id":"216d9698.3062e2","type":"mqtt-broker","z":"","name":"yhome","broker":"172.20.110.2","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]